table{
    
    border:5px solid black;
    line-height: 4.2em;

}

td{
    background-color:rgb(77, 224, 85);;
    border: 1px solid black;
    font-weight: bold;
    font-size:x-large;
    color: rgb(20, 59, 235);
}
th{

    background-color: rgb(30, 208, 214);
    border: 1px solid black;
    font-weight: bold;
    font-size:x-large;
    color:darkmagenta;
}
